<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">



  <meta name="description"
    content="Ideas.Foundation is a project for talented people, who wants to create something unusual and extraordinary with a dream team. Become an entrepreneur with us!" />
  <meta name="keywords"
    content="ideasfoundation, ideas, foundation, entrepreneur, business, project, found, develop, team, startup, предприниматель, проект, страртап, компания, команда, разработка, layihə, təşəbbüskar, startap, ideya, biznes" />
  <meta property="og:title" content="Make your ideas alive with ideas.foundation" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Create a dream team and become an entrepreneur with your great idea" />
  <meta property="og:url" content="https://ideas.foundation" />
  <meta itemprop="image" content="/img/thumbnail.jpg" />
  <meta property="og:image" content="/img/thumbnail.jpg" />



  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>
    ideas.foundation
  </title>
</head>

<body>
  <noscript>
    <strong>We're sorry but ideas.foundation doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>